.header-outer {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 999;
}

.header-location-btn {
    cursor: pointer;
}

.header-logo {
    cursor: pointer;
    height: 100%;
    width: 15%;
    border-right: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bolder;
}

.ecom {
    color: #F8CB46;
}

.shop {
    color: #54B226;
}

.header-top {
    margin-left: 20px;
    height: 100%;
    width: 25%;
}

.header-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    padding: 10fpx 0;
}


.header-search {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search-open {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search,
.header-search-open {
    transition: width 0.3s ease;
}

.search-outer {
    height: 50px;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.search-icon {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 25px;
    color: black;
}

.search-outer input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0px 7px;
}

.search-placeholder{
    position: absolute;
    left: 50px;
    top: 40%;
    transform: translateY(-30%);
    pointer-events: none;
    animation: slide 0.4s ease-in-out;
    color: #8888;
}


@keyframes slide{
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(-30%);
    }
}

.header-btn {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-active .btn-cart {
    background-color: #0c831f;
}

.header-disabled .btn-cart {
    background-color: #E5E5E5;
}



.header-btn button {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    outline: none;
}


.header-btn .btn-login {
    background-color: transparent;
}

.header-btn .btn-cart {

    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.header-profile {
    display: none;
}

@media (max-width:768px) {
    .header-logo {
        display: none;
    }

    .btn-login {
        display: none;
    }

    .header-btn {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-top: 1px solid #ddd;
        z-index: 1000;
    }

    .header-btn .btn-cart {
        width: 95%;
        height: 45px;
        font-size: 18px;
        border-radius: 10px;
    }

    .header-disabled {
        display: none;
    }

    .header-outer {
        display: block;
        width: 100%;
        height: 100px;
        border: none;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60%;
        width: 100%;
        margin: 0;
    }

    .header-location {
        width: 100%;
        gap: 3px;

    }

    .header-profile {
        display: block;
        padding: 0 20px;
    }

    .header-search,
    .header-search-open {
        height: 40%;
        width: 100%;
    }

    .search-outer {
        width: 100%;
        height: 95%;
    }
}