.header-outer {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 999;
}

.header-location-btn {
    cursor: pointer;
}

.header-logo {
    height: 100%;
    width: 15%;
    border-right: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bolder;
}

.ecom {
    color: #F8CB46;
}

.shop {
    color: #54B226;
}

.header-top {
    margin-left: 20px;
    height: 100%;
    width: 25%;
}

.header-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    padding: 10fpx 0;
}


.header-search {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-outer {
    height: 50px;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.search-icon {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 25px;
    color: black;
}

.search-outer input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0px 7px;
}

.header-btn {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-active button:nth-child(2) {
    background-color: #0c831f;
}
.header-disabled button:nth-child(2) {
   background-color: #E5E5E5;
}



.header-btn button {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    outline: none;
}

.header-btn button:nth-child(1) {
    background-color: transparent;
}

.header-btn button:nth-child(2) {
    
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.header-profile {
    display: none;
}

@media (max-width:768px) {
    .header-logo {
        display: none;
    }

    .header-btn {
        display: none;
    }

    .header-outer {
        display: block;
        width: 100vw;
        height: 100px;
        border: none;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60%;
        width: 100vw;
        margin: 0;
    }

    .header-location {
        width: 100%;
        gap: 3px;

    }

    .header-profile {
        display: block;
        padding: 0 20px;
    }

    .header-search {
        height: 40%;
        width: 100vw;
    }

    .search-outer {
        width: 100%;
        height: 95%;
    }
}