.Hero{
    margin:0 2%;
}
#banner img{
    height: 100%;
    width: 100%;
}
#products{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 15px;
}
.hero-sale{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    width: 100%;
    padding: 0px 15px;
    cursor: pointer;

}
.hero-sale>img{
    width: 30%;
}