.Hero {
    margin: 0 2%;
}

#banner img {
    height: 100%;
    width: 100%;
}

#products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 15px;
}

.hero-sale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    padding: 0px 15px;
    cursor: pointer;

}

.hero-sale>img {
    width: 30%;
}

.slice {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    max-width: 100vw;
    flex-wrap: nowrap;
}
.slice-item {
    width: 100%;
    height: auto;
}

.slice-img {
    width: 100%;
    height: auto;
}